<header>
  <h1>Projects</h1>
</header>

<!-- Project tabs -->
<div class="tabs">
  @for (img of config(); track img.url) {
    <a
      [routerLink]="img.link"
      [attr.aria-label]="img.header || img.text"
      [ngClass]="{ selected: selected() === img }"
    >
      <picture>
        <img [src]="img.url" [alt]="img.text" />
      </picture>
    </a>
  }
</div>

<section class="timeline">
  @if (selected() != null) {
    @for (post of timeline(); track post.date) {
      @defer {
        <article>
          <span>
            <time>{{ post.date | date: "yyyy-MM" }}</time>
          </span>
          <div [innerHTML]="post.content | async"></div>
        </article>
      }
    } @empty {
      <article>
        <span>
          <time><img src="/assets/logo_spinecoil.svg" /></time>
        </span>
        <div><p>There are no posts for this project yet.</p></div>
      </article>
    }
  } @else {
    <article>
      <span>
        <time><img src="/assets/logo_spinecoil.svg" /></time>
      </span>
      <div><p>Choose a project to view the timeline.</p></div>
    </article>
  }
</section>

<app-section-social [section]="social()"></app-section-social>
