<header class="toothrack bottom">
  <div class="group page-width">
    <hgroup class="logo-group">
      <img src="assets/logo_spinecoil.svg" />
      <img src="assets/logo_vertebraetext.svg" />
    </hgroup>
  </div>
</header>

<main class="page-width">
  <router-outlet></router-outlet>
</main>

<footer>
  <app-linklist class="page-width">
    <div class="logo-group">
      <img src="assets/logo_spinecoil.svg" />
      <img src="assets/logo_vertebraetext.svg" />
    </div>
  </app-linklist>
</footer>

<!-- Newsletter nag dialog -->
<dialog #nagModal class="nag-modal" (cancel)="closeNagDialog($event)">
  <header>
    <div>
      @if (userRequestedNag()) {
      <h1>Sign up to our newsletter!</h1>
      } @else {
      <h1>Hold up!</h1>
      }
    </div>
    <button type="reset" (click)="closeNagDialog($event)">X</button>
  </header>
  <p>
    Sign up to our newsletter today and stay up to date on the development of
    our games as well as a few other suproses like a digital artbook and more!
  </p>
  <form
    method="dialog"
    method="get"
    action="/"
    (submit)="closeNagDialog($event)"
  >
    <input type="email" name="email" placeholder="my.email@address.com" />
    <button class="button-link" type="submit">Get me in there</button>
  </form>
</dialog>
