:host {
  --knuckle-size: 3.4em;
  .page-width:not(main) {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    padding-right: var(--text-margin);
  }
  .menu {
    position: relative;
    display: flex;
    place-items: center;
    > img {
      width: 3.5em;
      height: 3.5em;
      position: relative;
      z-index: 11;
      background: transparent;
      border: 0;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
    .knuckles {
      position: absolute;
      width: auto;
      right: 0;
      opacity: 0;
      z-index: 11;
      top: 0;
      transform-origin: right center;
      transform: rotateY(90deg);
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      transition-property: opacity, transform;
      li {
        padding: 1rem;
        background-size: 100%;
        background-position: 0em;
        filter: invert(1);
        position: relative;
        &:hover {
          filter: invert(0);
          z-index: 5;
        }
      }
    }
    &:hover {
      > img {
        opacity: 0;
      }
      .knuckles {
        opacity: 1;
        transform: rotateY(0deg);
      }
    }
  }
}
