:host {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  min-height: calc(100vh - 11rem);
  padding-top: 2em;
  margin-top: 4em;
  margin-bottom: 6rem;
  background-color: var(--grey-color);
  position: relative;
  z-index: -2; // If not, the before psueudo element of time will be hidden
  @media screen and (max-width: 980px) {
    min-height: calc(100vh - 18em);
  }
  color: var(--body-text-color);

  p {
    margin: 1rem var(--text-margin);
  }
}
